a {
    text-decoration: none;
  }
  

  h1 {
    font-family: 'Alegreya Sans SC', sans-serif; 
    font-size: 25pt;
    font-weight: 500;
    margin-left: 25px;
  }

  h2 {
    font-family: 'Alegreya Sans SC', sans-serif; 
    font-size: 22pt;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
  }

  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18pt;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 75px;
    margin-right: 75px;
  }

  li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18pt;
    font-weight: 400;
  }

  ul {
    display: inline-block;
  }

  .nav-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 15pt;
    font-weight: 400;
    margin-left: 25px;
  }

  .nav-buffer {
    cursor: auto;
  }

  nav button {
    background-color: #00000000;
    border: #00000000;
  }

  nav img {
    margin-right: auto;
    height: 30px;
    width: 30px;
  }
  
  .container {
    display: inline-block;
    min-width: 100vw;
  }

  .left {
    float: left;
    min-width: 80vw;
  }


  .right img {
    height: 180px;
    margin: auto;
  }

  .column {
    text-align: center;
  }